<div class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
  @for (shipment of shipments; track shipment.id) {
    <qls-card>
      <qls-card-header [heading]="shipment.brand.name" />
      <qls-card-content>
        <div class="flex flex-col gap-y-2">
          <span>
            {{ 'SHIPMENTS.TRACKING-URL' | transloco }}:
            <a target="_blank" [href]="shipment.trackingUrl" (click)="$event.stopPropagation()">
              {{ shipment.barcode }}
            </a>
          </span>
          <span>{{ 'SHIPMENTS.RECEIVER' | transloco }}: {{ shipment.receiverContact.name }}</span>
          <span>{{ 'SHIPMENTS.RECEIVER-ADDRESS' | transloco }}: {{ shipment.receiverContact | receiverAddress }}</span>
        </div>
      </qls-card-content>
      <qls-card-footer>
        <qls-button
          [attr.data-test]="'card-button-' + shipment.id"
          [label]="'SHIPMENTS.PRIMARY-CTA' | transloco"
          (click)="navigateToShipmentDetail(shipment.id)"
        ></qls-button>
      </qls-card-footer>
    </qls-card>
  }
</div>
