<div class="flex h-dvh max-h-dvh">
  <div class="flex size-full flex-col overflow-x-hidden">
    <!-- <mat-toolbar>
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Shipment dashboard</span>
    </mat-toolbar>

    <mat-drawer-container>
      <mat-drawer #drawer mode="side">side menu</mat-drawer>
    </mat-drawer-container>

    <mat-sidenav-container class="bg-fill-primary absolute bottom-0 left-0 right-0 top-0">
      <mat-sidenav #drawer mode="over">
        Sidenav content Sidenav content Sidenav content Sidenav content Sidenav content Sidenav content Sidenav content
        Sidenav conten  t Sidenav content Sidenav content Sidenav content Sidenav content
      </mat-sidenav>
      <mat-sidenav-content>Main content</mat-sidenav-content>
    </mat-sidenav-container> -->

    <div class="bg-fill-primary flex px-4 py-2">
      <qls-icon icon="heroBars3" class="icon-black"></qls-icon>
    </div>

    <div></div>

    <div class="flex size-full flex-col overflow-auto">
      <router-outlet />
    </div>
  </div>
</div>
