@use '@angular/material' as mat;

@include mat.core();

:root {
  @include mat.form-field-overrides(
    (
      outlined-label-text-color: theme('textColor.primary.DEFAULT'),
      outlined-hover-label-text-color: theme('textColor.primary.DEFAULT'),
      outlined-focus-outline-color: theme('borderColor.focus.DEFAULT'),
      outlined-focus-label-text-color: theme('textColor.tertiary.DEFAULT'),
      outlined-error-outline-color: theme('borderColor.danger.DEFAULT'),
      outlined-error-focus-label-text-color: theme('borderColor.danger.DEFAULT'),
      outlined-error-label-text-color: theme('borderColor.danger.DEFAULT'),
      outlined-error-hover-label-text-color: theme('borderColor.danger.DEFAULT'),
      outlined-error-focus-outline-color: theme('borderColor.danger.DEFAULT'),
      outlined-error-hover-outline-color: theme('borderColor.danger.DEFAULT'),
      outlined-disabled-label-text-color: theme('textColor.secondary.DEFAULT'),
      outlined-disabled-input-text-color: theme('textColor.secondary.DEFAULT')
    )
  );

  @include mat.select-overrides(
    (
      focused-arrow-color: theme('borderColor.focus.DEFAULT')
    )
  );

  @include mat.checkbox-overrides(
    (
      label-text-color: theme('textColor.primary.DEFAULT'),
      selected-hover-icon-color: theme('backgroundColor.fill.primary.DEFAULT'),
      selected-focus-icon-color: theme('backgroundColor.fill.primary.DEFAULT'),
      selected-focus-state-layer-color: theme('backgroundColor.fill.primary.DEFAULT'),
      selected-icon-color: theme('backgroundColor.fill.primary.DEFAULT'),
      unselected-hover-state-layer-color: theme('backgroundColor.fill.primary.DEFAULT'),
      selected-hover-state-layer-color: theme('backgroundColor.fill.primary.DEFAULT'),
      unselected-pressed-state-layer-color: theme('backgroundColor.fill.primary.DEFAULT'),
      state-layer-size: 0
    )
  );

  @include mat.radio-overrides(
    (
      state-layer-size: 0,
      label-text-color: theme('textColor.primary.DEFAULT'),
      ripple-color: theme('backgroundColor.fill.primary.DEFAULT'),
      checked-ripple-color: theme('backgroundColor.fill.primary.DEFAULT'),
      selected-hover-icon-color: theme('backgroundColor.fill.primary.DEFAULT'),
      selected-focus-icon-color: theme('backgroundColor.fill.primary.DEFAULT'),
      selected-icon-color: theme('backgroundColor.fill.primary.DEFAULT'),
      selected-pressed-icon-color: theme('backgroundColor.fill.primary.DEFAULT')
    )
  );

  @include mat.slide-toggle-overrides(
    (
      state-layer-size: 0,
      pressed-handle-size: 12px,
      track-width: 40px,
      track-height: 22px,
      track-outline-width: 0,
      selected-handle-size: 12px,
      selected-focus-track-color: theme('backgroundColor.fill.primary.DEFAULT'),
      selected-hover-track-color: theme('backgroundColor.fill.primary.DEFAULT'),
      selected-pressed-track-color: theme('backgroundColor.fill.primary.DEFAULT'),
      selected-track-color: theme('backgroundColor.fill.primary.DEFAULT'),
      selected-focus-handle-color: theme('backgroundColor.white'),
      selected-pressed-handle-color: theme('backgroundColor.white'),
      unselected-handle-size: 12px,
      unselected-handle-horizontal-margin: 0 5px,
      unselected-track-color: #d3d3d3,
      unselected-hover-track-color: #d3d3d3,
      unselected-focus-track-color: #d3d3d3,
      handle-surface-color: theme('backgroundColor.white'),
      unselected-focus-handle-color: theme('backgroundColor.white'),
      unselected-handle-color: theme('backgroundColor.white'),
      unselected-hover-handle-color: theme('backgroundColor.white'),
      unselected-pressed-handle-color: theme('backgroundColor.white')
    )
  );
}

.mat-mdc-form-field-error-wrapper {
  padding: 0 !important;
}

mat-error {
  color: theme('borderColor.danger.DEFAULT') !important;
}

.mat-mdc-option:focus.mdc-list-item,
.mat-mdc-option-active,
.mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled):not(.mat-mdc-option-multiple),
.mat-mdc-option:hover:not(.mdc-list-item--disabled) {
  background-color: theme('backgroundColor.surface.secondary.DEFAULT') !important;
}
