@use '@angular/material' as mat;

@include mat.core();

:root {
  @include mat.form-field-overrides(
    (
      outlined-label-text-color: theme('textColor.primary.DEFAULT'),
      outlined-hover-label-text-color: theme('textColor.primary.DEFAULT'),
      outlined-focus-outline-color: theme('borderColor.focus.DEFAULT'),
      outlined-focus-label-text-color: theme('textColor.tertiary.DEFAULT'),
      outlined-error-outline-color: theme('borderColor.danger.DEFAULT'),
      outlined-error-focus-label-text-color: theme('borderColor.danger.DEFAULT'),
      outlined-error-label-text-color: theme('borderColor.danger.DEFAULT'),
      outlined-error-hover-label-text-color: theme('borderColor.danger.DEFAULT'),
      outlined-error-focus-outline-color: theme('borderColor.danger.DEFAULT'),
      outlined-error-hover-outline-color: theme('borderColor.danger.DEFAULT'),
      outlined-disabled-label-text-color: theme('textColor.secondary.DEFAULT'),
      outlined-disabled-input-text-color: theme('textColor.secondary.DEFAULT')
    )
  );

  @include mat.select-overrides(
    (
      focused-arrow-color: theme('borderColor.focus.DEFAULT')
    )
  );
}

.mat-mdc-form-field-error-wrapper {
  padding: 0 !important;
}

mat-error {
  color: theme('borderColor.danger.DEFAULT') !important;
}

.mat-mdc-option:focus.mdc-list-item,
.mat-mdc-option-active,
.mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled):not(.mat-mdc-option-multiple),
.mat-mdc-option:hover:not(.mdc-list-item--disabled) {
  background-color: theme('backgroundColor.surface.secondary.DEFAULT') !important;
}
