@use '@angular/material' as mat;

@include mat.core();

mat-form-field[appearance='outline'] {
  @include mat.form-field-overrides(
    (
      outlined-label-text-color: theme('textColor.primary.DEFAULT'),
      outlined-hover-label-text-color: theme('textColor.primary.DEFAULT'),
      outlined-focus-outline-color: theme('borderColor.focus.DEAFULT'),
      outlined-focus-label-text-color: theme('textColor.primary.DEFAULT'),
      outlined-error-outline-color: theme('borderColor.danger.DEFAULT'),
      outlined-error-focus-label-text-color: theme('borderColor.danger.DEFAULT'),
      outlined-error-label-text-color: theme('borderColor.danger.DEFAULT'),
      outlined-error-hover-label-text-color: theme('borderColor.danger.DEFAULT'),
      outlined-error-focus-outline-color: theme('borderColor.danger.DEFAULT'),
      outlined-error-hover-outline-color: theme('borderColor.danger.DEFAULT'),
      outlined-disabled-label-text-color: theme('textColor.secondary.DEFAULT'),
      outlined-disabled-input-text-color: theme('textColor.secondary.DEFAULT')
    )
  );
}

.mat-mdc-form-field-error-wrapper {
  padding: 0 !important;
}

mat-error {
  color: theme('borderColor.danger.DEFAULT') !important;
}
