@use '@angular/material' as mat;

:root {
  --snackbar-bg-color: theme('backgroundColor.fill.success.DEFAULT');
  --snackbar-text-color: white;
}

.mat-mdc-snack-bar-container {
  @include mat.snack-bar-overrides(
    (
      container-color: var(--snackbar-bg-color),
      supporting-text-color: var(--snackbar-text-color)
    )
  );
}

.success-snackbar {
  --snackbar-bg-color: theme('backgroundColor.fill.success.DEFAULT');
}

.warning-snackbar {
  --snackbar-bg-color: theme('backgroundColor.fill.warning.DEFAULT');
}

.danger-snackbar {
  --snackbar-bg-color: theme('backgroundColor.fill.danger.DEFAULT');
}
