@use '@angular/material' as mat;

@include mat.core();

:root {
  @include mat.table-overrides(
    (
      row-item-container-height: 40px,
      row-item-label-text-color: theme('textColor.primary.DEFAULT'),
      header-headline-color: theme('textColor.primary.DEFAULT'),
      header-headline-size: 16px,
      header-headline-weight: 700
    )
  );
}

.mat-mdc-row:hover {
  transition-duration: 150ms;
  background-color: theme('backgroundColor.fill.primary.DEFAULT');
  color: white;

  a {
    color: white;
    border-bottom: 1px solid white;
  }
}
